<footer class="l-footer">
  <ul class="m-link">
    <li><a href="https://kamome.cn/contents/company/">カモメ中国転職＋アジアについて</a></li>
    <!-- 
    <li><a href="/contents/privacypolicy/terms-of-use.html" target="_blank">サイト利用規約</a></li>
    <li><a href="/contents/privacypolicy/privacy-policy.html" target="_blank">プライバシーポリシー</a></li>
    -->
    <li><a href="https://kamome.cn/semina/form/kamome/">お問い合せ・ヘルプ</a></li>
    <li><a href="https://kamome.cn/contents/company/1004.html">Q&amp;A</a></li>
    <li><a href="https://kamome.cn/contents/company/">会社概要</a></li>
  </ul>
  <p class="m-description">
    カモメ中国転職＋アジアは上海・北京・大連・広州・深セン・香港勤務/中国語の求人就職情報のご提供を通して
    <br>皆様の「海外での素敵な就職・ライフワーク探しのお手伝い」をします。
  </p>
  <p class="m-copyright">
    <small>Copyright 2021 RGF Human Resource Consulting Shanghai Co.,Ltd All Rights Reserved.</small>
  </p>
</footer>