<footer class="l-footer">
  <ul class="m-link">
    <li><a href="https://kamome.cn/contents/company/">JapaneseTeacher@CHINAについて</a></li>
    <!-- 
    <li><a href="/contents/privacypolicy/terms-of-use.html" target="_blank">サイト利用規約</a></li>
    <li><a href="/contents/privacypolicy/privacy-policy.html" target="_blank">プライバシーポリシー</a></li>
    -->
    <li><a href="https://kamome.cn/semina/form/kamome/">お問い合せ・ヘルプ</a></li>
    <li><a href="https://kamome.cn/contents/company/1004.html">Q&amp;A</a></li>
    <li><a href="https://kamome.cn/contents/company/">会社概要</a></li>
  </ul>
  <p class="m-description">
    JapaneseTeacher@CHINAは「中国の日本語教師」就職のお手伝いをしています。
  </p>
  <p class="m-copyright">
    <small>Copyright 2021 H Mfg Co.,Ltd All Rights Reserved.</small>
  </p>
</footer>