<header class="l-header">
  <div class="m-inner">
    <h1 class="m-logo"><%= link_to "JapaneseTeacher@CHINA", root_path %></h1>
    <div class="m-search">
    </div>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %>
    <%= link_to "会員登録", new_user_registration_path, class: "btn btn-warning" %>
  </div>
</header>